
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="contact">
      <i class="fa-brands fa-twitter icon-bottom fa-2x" style="color: #ffffff;"></i>
      <i class="fa-brands fa-facebook icon-bottom fa-2x" style="color: #ffffff;"></i>
      <i class="fa-brands fa-instagram icon-bottom fa-2x" style="color: #ffffff;"></i>
      <i class="fa-solid fa-envelope icon-bottom fa-2x" style="color: #ffffff;"></i>
    </div>
    <p>Copyright Victoria Bata</p>
  </div>
</div>
</body>
</html>
