
<%- include("partials/header") -%>

<h1> About Me</h1>
<hr>
<div class="row about-container">
    <div class="col-lg-3">
        <img class="about-img" src="/images/about-icon.jpeg">
    </div>

    <div class="col-lg-9">
        <p class="about"> <%= par %> </p>
    </div>

</div>


<%- include("partials/footer") -%>